<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-12 col-md-offset-3 col-md-4" style="margin-top:30px">
            <div class="thumbnail info-thumbnail background-lead color-text">
              <div class="special background-lead color-white"><h3>Login </h3></div>
              <div class="caption bordered background-white">
                <form role="form" action="/login/" method="post">
                {% csrf_token %}
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" id="user_name" name="username" placeholder="" required="">
                  </div>
                  <div class="form-group" style="margin-bottom: 8px;">
                    <label>Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="" required="">
                  
                  </div>
                  <br>
                  <span ><a href="/signup/">signup</a></span>
                  <div style="text-align:center;margin-top: 0px;" >  
                  
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
                  
                </form>
              </div>
            </div>
            
          </div>
		</div>
	</div>
</div>
</body>
</html>